@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
    --color:#FD6F00;
    --article-bg:rgba(234, 228, 239, 0.7);
    --bg:#D9D9D9;
    --blue:#2A1C62;
}
html{
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
    font-family:poppins;
}

body>:not(section.main, header){
    width:90%;
    margin:auto;
}
a{
   text-decoration: none; 
}
#navlinks ul a{
    color: black;
}
header{
    position: sticky;
    padding:-20px 0;
    width: 100%;
    top:0;
    background-color: white;
}
#navlinks  ul a:active{
    color:var(--color);
}

ul{
    list-style-type: none;
}
#navlinks ul{
    display: flex;
    gap:20px;
}
nav{
    width: 90%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 0;
  }
  /* end of nav bar */
  /* main page and the banner */
  .color{
    color:var(--color);
  }
  .center{
    text-align: center;
  }
  section.main{
    background-color: var(--bg);
  }
  section.main h1{
    padding: 30px;
  }
  .records img{
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 3px white solid;
    object-fit: cover;
  }
  .eclipse{
    height: 5px;
    width:5px;
    background-color: black;
    border-radius: 50%;
  }
  .descr{
    display: flex;
    justify-content: center;
    gap:100px;
    padding: 50px 0;
  }
  .records,.icons{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  /* the end of the banner */
.blue{
    color:var(--blue);
}
.padding{
    padding:20px 0;
    margin:20px 0;
}
.grey{
    color: #464646;
    font-size: small;
}
.justify{
    text-align: justify;
}
.messages{
    width: 80%;
    padding:20px;
    border-radius: 10px;
    background-color: var(--bg);
}
.aside{
    width: 30%;
}
.reading{
    width: 70%;
}
.direction{
    display: flex;
    align-items:center;
    gap:10px;
}
.view{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
input,textarea{
    padding: 10px;
    width: 70%;
    outline: none;
    border: 1.5px solid var(--color);
    border-radius: 10px;
}
textarea{
    width: 100%;
}
label, select, textarea{
    padding:10px 0;
}
label, input[type="text"], select, textarea{
    display:block;
}
textarea::placeholder{
    padding:10px;
}
textarea{
    margin-bottom: 10px;
}
.flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.button{
    padding:10px 20px;
    outline:none;
    border: none;
    border-radius: 8px;
    color:white;
    background-color: var(--color);
}

@media screen and (max-width:880px){
    #navlinks ul{
        display: none;
    }
    .descr{
        flex-wrap:wrap;
        flex-direction: column-reverse;
    }
    .records{
        flex-wrap: wrap;
        align-items: center;
    }
}
@media screen and (max-width:880px){
    #navlinks ul{
        display: none;
    }
    .descr{
        flex-wrap:wrap;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .records{
        flex-wrap: wrap;
        align-items: center;
    }
}
@media screen and (max-width:632px){
   .aside{
    display: none;
   }
    .reading{
    width:100%;
   }
}
@media screen and (max-width:400px){
    .flex{
        grid-template-columns: 1fr;
    }
 }